<a href="https://colab.research.google.com/github/eulers-identity/Python-Learning-Phase/blob/master/w3resource.com/Python%20Basic%20(Part%20-I).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basic (Part -I)**

**1. Write a Python program to print the following string in a specific format (see the output).**

Sample String: "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are!"

In [0]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

# /n adds break in line
# /t adds tab to the line

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

**2. Write a Python program to get the Python version you are using.**

In [0]:
import sys
print (sys.version)
print (sys.version_info)

3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0]
sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

A tuple containing the five components of the version number: major, minor, micro, releaselevel, and serial.
All values except releaselevel are integers; the release level is 'alpha', 'beta', 'candidate', or 'final'.
The version_info value corresponding to the Python version 2.0 is (2, 0, 0, 'final', 0). 
The components can also be accessed by name, so sys.version_info[0] is equivalent to sys.version_info.major and so on.

Note : 'sys' module provides access to some variables used or maintained by the interpreter and to functions that interact strongly with the interpreter

**3. Write a Python program to display the current date and time.**

In [0]:
import datetime
now = datetime.datetime.now()
print("Datetime variable value =",now)
print("Datetime variable type =",type(now))

#by default, python shows time till precision of nanoseconds. This behaviour can be manipulated with strftime function.
#date.strftime(format) returns a string representing the date, controlled by an explicit format string. Format codes referring to hours, minutes or seconds will see 0 values.
#Changing Y to upper and lower case also formats the value.

print (now.strftime("%Y-%m-%d %H:%M:%S"))
print ("Date =",now.strftime("%Y-%m-%d"))
print ("Date / seperated =",now.strftime("%Y/%m/%d"))
print ("Month =",now.strftime("%M"))
print ("Year with Y =",now.strftime("%Y"))
print ("Year with y =",now.strftime("%y"))

Datetime variable value = 2019-12-04 18:20:26.212547
Datetime variable type = <class 'datetime.datetime'>
2019-12-04 18:20:26
Date = 2019-12-04
Date / seperated = 2019/12/04
Month = 20
Year with Y = 2019
Year with y = 19

**4. Write a Python program which accepts the radius of a circle from the user and compute the area.**

In [0]:
import math
pi_value = math.pi
print("High precision value of pi =",pi_value)

def circlearea(radius):
  area = math.pi * radius * radius
  return area

radius = float(input("Enter the radius of circle : "))
print("Area of circle with radius {} units = {} sqr units".format(radius,circlearea(radius)))

High precision value of pi = 3.141592653589793
Enter the radius of circle : 12
Area of circle with radius 12.0 units = 452.3893421169302 sqr units

**6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.**

Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [0]:
x = input("Provide set of numbers = ")
print(x)
listofnum = x.split(",")
tupleofnum = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Provide set of numbers = 1,2,4
1,2,4

TypeError: ignored

**7. Write a Python program to accept a filename from the user and print the extension of that.**

Sample filename : abc.java

Output : java

In [0]:
x = input("Enter complete filename : ")
print("The file extension : {}".format(x.split(".")[-1]))

#str.format as well as repr.format do same thing.
#repr is used for devlopement while str is targeted towards end user.
#https://www.geeksforgeeks.org/str-vs-repr-in-python/

Enter complete filename : mybook.txt
The file extension : txt

**8. Write a Python program to display the first and last colors from the following list.**

color_list = ["Red","Green","White" ,"Black"]

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print("First color : {},\nLast color : {}".format(color_list[0],color_list[-1]))

First color : Red,
Last color : Black

**9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).**

exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [0]:
exam_st_date = (11, 12, 2014)
print("Examination will start from : {}/{}/{}".format(exam_st_date[0],exam_st_date[1],exam_st_date[2]))

Examination will start from : 11/12/2014

**10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [3]:
number = int(input("Enter a number :"))

required_value = 3*number + 20*number + 100*number

print("Required sum = {}".format(required_value))

Enter a number :2
Required sum = 246

In [5]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 1
123

**11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number
Return the absolute value of the argument**