<a href="https://colab.research.google.com/github/eulers-identity/Python-Learning-Phase/blob/master/w3resource.com/Python%20Basic%20(Part%20-I).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basic (Part -I)**

**1. Write a Python program to print the following string in a specific format (see the output).**

Sample String: "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are!"

In [0]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

# /n adds break in line
# /t adds tab to the line

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

**2. Write a Python program to get the Python version you are using.**

In [0]:
import sys
print (sys.version)
print (sys.version_info)

3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0]
sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

A tuple containing the five components of the version number: major, minor, micro, releaselevel, and serial.
All values except releaselevel are integers; the release level is 'alpha', 'beta', 'candidate', or 'final'.
The version_info value corresponding to the Python version 2.0 is (2, 0, 0, 'final', 0). 
The components can also be accessed by name, so sys.version_info[0] is equivalent to sys.version_info.major and so on.

Note : 'sys' module provides access to some variables used or maintained by the interpreter and to functions that interact strongly with the interpreter

**3. Write a Python program to display the current date and time.**

In [0]:
import datetime
now = datetime.datetime.now()
print("Datetime variable value =",now)
print("Datetime variable type =",type(now))

#by default, python shows time till precision of nanoseconds. This behaviour can be manipulated with strftime function.
#date.strftime(format) returns a string representing the date, controlled by an explicit format string. Format codes referring to hours, minutes or seconds will see 0 values.
#Changing Y to upper and lower case also formats the value.

print (now.strftime("%Y-%m-%d %H:%M:%S"))
print ("Date =",now.strftime("%Y-%m-%d"))
print ("Date / seperated =",now.strftime("%Y/%m/%d"))
print ("Month =",now.strftime("%M"))
print ("Year with Y =",now.strftime("%Y"))
print ("Year with y =",now.strftime("%y"))

Datetime variable value = 2019-12-04 18:20:26.212547
Datetime variable type = <class 'datetime.datetime'>
2019-12-04 18:20:26
Date = 2019-12-04
Date / seperated = 2019/12/04
Month = 20
Year with Y = 2019
Year with y = 19

**4. Write a Python program which accepts the radius of a circle from the user and compute the area.**

In [0]:
import math
pi_value = math.pi
print("High precision value of pi =",pi_value)

def circlearea(radius):
  area = math.pi * radius * radius
  return area

radius = float(input("Enter the radius of circle : "))
print("Area of circle with radius {} units = {} sqr units".format(radius,circlearea(radius)))

High precision value of pi = 3.141592653589793
Enter the radius of circle : 12
Area of circle with radius 12.0 units = 452.3893421169302 sqr units

**6. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.**

Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [0]:
x = input("Provide set of numbers = ")
print(x)
listofnum = x.split(",")
tupleofnum = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Provide set of numbers = 1,2,4
1,2,4

TypeError: ignored

**7. Write a Python program to accept a filename from the user and print the extension of that.**

Sample filename : abc.java

Output : java

In [0]:
x = input("Enter complete filename : ")
print("The file extension : {}".format(x.split(".")[-1]))

#str.format as well as repr.format do same thing.
#repr is used for devlopement while str is targeted towards end user.
#https://www.geeksforgeeks.org/str-vs-repr-in-python/

Enter complete filename : mybook.txt
The file extension : txt

**8. Write a Python program to display the first and last colors from the following list.**

color_list = ["Red","Green","White" ,"Black"]

In [0]:
color_list = ["Red","Green","White" ,"Black"]
print("First color : {},\nLast color : {}".format(color_list[0],color_list[-1]))

First color : Red,
Last color : Black

**9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).**

exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [0]:
exam_st_date = (11, 12, 2014)
print("Examination will start from : {}/{}/{}".format(exam_st_date[0],exam_st_date[1],exam_st_date[2]))

Examination will start from : 11/12/2014

**10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [0]:
number = int(input("Enter a number :"))

required_value = 3*number + 20*number + 100*number

print("Required sum = {}".format(required_value))

Enter a number :2
Required sum = 246

In [0]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 1
123

**11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number
Return the absolute value of the argument**

In [0]:
print(abs.__doc__)
print(sum.__doc__)

Return the absolute value of the argument.
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

**12. Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.**

In [0]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
this_month = calendar.month(y, m)
print(this_month)

print(type(this_month))

Input the year : 2019
Input the month : 12
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

<class 'str'>

**13. Write a Python program to print the following here document.
Sample string :
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example**

In [0]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

**14. Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days**

In [0]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

**15. Write a Python program to get the volume of a sphere with radius 6.**

In [0]:
import math
radius = 6
pi = math.pi
volume = 4/3*pi*radius*radius*radius
volume

904.7786842338604

In [0]:
#Alternate solution
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

**16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.**

In [0]:
given_no = int(input("Enter a number :"))
if given_no > 17:
  print(given_no - 17)
else:
  print(17 - given_no)

Enter a number :6
11

In [0]:
#Alternate
def difference(n):
    if n <= 17:
        return 17 - n
    else:
        return (n - 17) * 2 

print(difference(22))
print(difference(14))

10
3

**17. Write a Python program to test whether a number is within 100 of 1000 or 2000.**

In [0]:
n = int(input("Enter the number to be checked :"))
if ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100)):
  print("Entered number is within 100 of 1000 or 2000")
else:
  print("Entered number is not within 100 of 1000 or 2000")

Enter the number to be checked :899
Number is not within 100 of 1000 or 2000

**18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.**

In [0]:
n1 = int(input("Enter first number :"))
n2 = int(input("Enter second number :"))
n3 = int(input("Enter third number :"))

if n1 == n2 == n3:
  print("Required sum = {}".format(3*n1))
else:
  print("Required sum = {}".format(n1+n2+n3))

Enter first number :5
Enter second number :3
Enter third number :8
Required sum = 16

**19. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged.**

In [0]:
given_string = input("Enter string : ")

if given_string[0:2] == "Is" and len(given_string) > 2:
  print("Given string starts with Is :", given_string)
else:
  print("Given string do not start with Is or contains less than 2 letters")

Enter string : da
Given string do not start with Is

**20. Write a Python program to get a string which is n (non-negative integer) copies of a given string.**

In [0]:
integer = int(input("Enter the number of copies you want :"))
string = input("Enter string :")
emp = []

for i in range(0,integer):
  emp.append(string)
emp

Enter the number of copies you want :5
Enter string :dad

['dad', 'dad', 'dad', 'dad', 'dad']

In [0]:
def larger_string(str, n):
   result = ""
   for i in range(n):
      result = result + str
   return result

print(larger_string('abc', 2))
print(larger_string('.py', 3))

abcabc
.py.py.py

**21. Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.**

In [0]:
number = int(input("Enter integer :"))

if number % 2 == 0:
  print("{} is an even number".format(number))
else:
  print("{} is an odd number".format(number))

Enter integer :7
7 is an odd number

**22. Write a Python program to count the number 4 in a given list.**

In [0]:
lista = [1,4,5,7,3,5,4,6,4,2,3,5,6,4,3,4,4]
count = 0
for i in lista:
  if i == 4:
    count = count + 1
count

6

**23. Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2**

In [0]:
number = int(input("Enter the number :"))
string = input("Enter the string :")
a = ""

if len(string) < 2:
  for i in range(0,number):
    a = a + string
else:
  for i in range(0,number):
    a = a + string[0:2]

a

Enter the number :5
Enter the string :fit

'fififififi'

**24. Write a Python program to test whether a passed letter is a vowel or not.**

In [0]:
def check_vowel(string):
  vowel = ["a","e","i","o","u"]
  if string in vowel:
    print("Passed string is a Vowel.")
  else:
    print("Passed string is not a Vowel.")

letter = input("Enter a letter :")
check_vowel(letter)

Enter a letter :u
Passed string is a Vowel.

**25. Write a Python program to check whether a specified value is contained in a group of values.**

In [0]:
sample_space = list(range(0,132,6))

user_input = int(input("Enter a digit to find in sample space :"))

if user_input in sample_space:
  print("Entered digit exists in Sample Space.")
else:
    print("Entered digit doesnt exist in Sample Space.")

Enter a digit to find in sample space :6
Entered digit exists in Sample Space.

**26. Write a Python program to create a histogram from a given list of integers.**

In [0]:
integers = [1,4,5,2,6,7,4,2]

for i in integers:
  print(i," :" ,i*"*")

1  : *
4  : ****
5  : *****
2  : **
6  : ******
7  : *******
4  : ****
2  : **

In [0]:
#Alternative solution

def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '*'
          times = times - 1
        print(output)

histogram([1,2])

*
**

**27. Write a Python program to concatenate all elements in a list into a string and return it.**

In [0]:
concatlist = ["Hello", " World !", " Welcome ","to ", 2019]
string = ""
for i in concatlist:
  string += str(i)
string

'Hello World ! Welcome to 2019'

**28. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.**

In [0]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

for i in numbers:
  if i%2 == 0:
    print(i)
  elif i == 237:
    print(i)
    break

386
462
418
344
236
566
978
328
162
758
918
237

**29. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.**

In [0]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
disjoint_set = set()

for i in color_list_1:
  if i not in color_list_2:
    disjoint_set.add(i)
    
disjoint_set

{'Black', 'White'}

**30. Write a Python program that will accept the base and height of a triangle and compute the area.**

In [0]:
base = float(input("Enter base of triangle dimension : "))
height = float(input("Enter height of triangle dimension : "))

def area(x,y):
  area = 0.5 * x * y
  print("Required area of triangle with base {} and height {} is {} sqr units.".format(x,y,area))

area(base,height)

Enter base of triangle dimension : 76
Enter height of triangle dimension : 26
Required area of triangle with base 76.0 and height 26.0 is 988.0 sqr units.

**31. Write a Python program to compute the greatest common divisor (GCD) of two positive integers.**

In [0]:
def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

gcd(10,15)

5

**32. Write a Python program to get the least common multiple (LCM) of two positive integers.**

In [0]:
def lcm(x, y):
   if x > y:
       z = x
   else:
       z = y

   while(True):
       if((z % x == 0) and (z % y == 0)):
           lcm = z
           break
       z += 1

   return lcm

lcm(30,60)

60

**33. Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.**

In [0]:
a = 15
b = 15
c = 25

if a == b or b == c or a == c:
  print(0)
else:
  print(a+b+c)

0

**34. Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.**

In [0]:
a = 10
b = 8

if a+b < 21 and a + b >14:
  print(20)
else:
  print(a+b)

20

**35. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.**

In [0]:
a = 2
b = 3

if a == b or a+b == 5 or a-b == 5 or b-a == 5:
  print(True)
else:
  print(a+b)

True

**36. Write a Python program to add two objects if both objects are an integer type.**

In [0]:
a = 15
b = 25

if type(a) == type(b) == int:
  print(a+b)

40

**37. Write a Python program to display your details like name, age, address in three different lines.**

In [0]:
name = input("Enter your name :")
age = int(input("Enter your age :"))
address = input("Enter your address :")

print(name)
print(age)
print(address)

Enter your name :Bhushan
Enter your age :26
Enter your address :Pune
Bhushan
26
Pune

In [0]:
def personal_details():
    name, age = "Simon", 19
    address = "Bangalore, Karnataka, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

**38. Write a Python program to solve (x + y) * (x + y).**

In [0]:
x = 15
y = 25

print((x+y)*(x+y))

1600

**39. Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years.**

In [0]:
p = 1000
n = 12
r = 8
si = p*n*r/100

print(si)

960.0

In [0]:
amt = 10000
interest = 3.5
years = 7

future_value  = amt*((1+(0.01*interest)) ** years)
print(round(future_value,2))

12722.79

**40. Write a Python program to compute the distance between the points (x1, y1) and (x2, y2).**

In [0]:
import math
a = 4,0
b = 6,6

d = math.sqrt((b[1]-a[1])**2 +(b[0]-a[0])**2)
d

6.324555320336759

**41. Write a Python program to check whether a file exists.**

In [1]:
import os.path
open('abc.txt', 'w')
print(os.path.isfile('abc.txt'))

True

**42. Write a Python program to determine if a Python shell is executing in 32bit or 64bit mode on OS?**

In [8]:
# For 32 bit it will return 32 and for 64 bit it will return 64

import struct

print("System is {} bits.".format(struct.calcsize("P")*8))

System is 64 bits.

**43. Write a Python program to get OS name, platform and release information.**

In [9]:
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

posix
Linux
4.14.137+

**44. Write a Python program to locate Python site-packages.**

In [11]:
import site
print(site.getsitepackages())

['/usr/local/lib/python3.6/dist-packages', '/usr/lib/python3/dist-packages', '/usr/lib/python3.6/dist-packages']

**45. Write a python program to call an external command in Python.**

In [14]:
from subprocess import call
call(["ls", "-l"])

0

**46. Write a python program to get the path and name of the file that is currently executing.**

In [15]:
import os
print("Current File Name : ",os.path.realpath(__file__))

NameError: ignored

**47. Write a Python program to find out the number of CPUs using.**

In [16]:
import multiprocessing
print(multiprocessing.cpu_count())

2

**48. Write a Python program to parse a string to Float or Integer.**

In [18]:
n = "246.2458"
print("Type of {} is : {}".format(n,type(n)))
n = (float(n))
print("Type of {} is : {}".format(n,type(n)))
n = (int(float(n)))
print("Type of {} is : {}".format(n,type(n)))

Type of 246.2458 is : <class 'str'>
Type of 246.2458 is : <class 'float'>
Type of 246 is : <class 'int'>

**49. Write a Python program to list all files in a directory in Python.**

In [20]:
from os import listdir
from os.path import isfile, join
files_list = [f for f in listdir('/') if isfile(join('/', f))]
print(files_list);

['.dockerenv', 'dlib-19.18.0-cp27-cp27mu-linux_x86_64.whl', 'dlib-19.18.0-cp36-cp36m-linux_x86_64.whl']

**50. Write a Python program to print without newline or space.**

In [23]:
for i in range(0, 10):
    print('*', end="")
print("\n")

**********

**51. Write a Python program to determine profiling of Python programs. Note: A profile is a set of statistics that describes how often and for how long various parts of the program executed. These statistics can be formatted into reports via the pstats module.**

In [24]:
import cProfile
def sum():
    print(1+2)
cProfile.run('sum()')

3
         39 function calls in 0.001 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.001    0.001 <ipython-input-24-db52c97772c7>:2(sum)
        1    0.000    0.000    0.001    0.001 <string>:1(<module>)
        3    0.000    0.000    0.001    0.000 iostream.py:180(schedule)
        2    0.000    0.000    0.000    0.000 iostream.py:284(_is_master_process)
        2    0.000    0.000    0.001    0.000 iostream.py:297(_schedule_flush)
        2    0.000    0.000    0.001    0.001 iostream.py:342(write)
        3    0.000    0.000    0.000    0.000 iostream.py:87(_event_pipe)
        3    0.001    0.000    0.001    0.000 socket.py:333(send)
        3    0.000    0.000    0.000    0.000 threading.py:1062(_wait_for_tstate_lock)
        3    0.000    0.000    0.000    0.000 threading.py:1104(is_alive)
        3    0.000    0.000    0.000    0.000 threading.py:506(is_set)
        1    0.000    0.000    0.001    0.001 {built-in method builtins.exec}
        2    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        1    0.000    0.000    0.001    0.001 {built-in method builtins.print}
        2    0.000    0.000    0.000    0.000 {built-in method posix.getpid}
        3    0.000    0.000    0.000    0.000 {built-in method posix.urandom}
        3    0.000    0.000    0.000    0.000 {method 'acquire' of '_thread.lock' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

**52. Write a Python program to print to stderr.**

In [25]:
from __future__ import print_function
import sys

def eprint(*args, **kwargs):
    print(*args, file=sys.stderr, **kwargs)

eprint("abc", "efg", "xyz", sep="--")

abc--efg--xyz

**53. Write a python program to access environment variables.**

In [26]:
import os
# Access all environment variables 
print('*----------------------------------*')
print(os.environ)
print('*----------------------------------*')
# Access a particular environment variable 
print(os.environ['HOME'])
print('*----------------------------------*')
print(os.environ['PATH'])
print('*----------------------------------*')

*----------------------------------*
environ({'ENV': '/root/.bashrc', 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16', 'CLOUDSDK_CONFIG': '/content/.config', 'CUDA_VERSION': '10.1.243', 'PATH': '/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin', 'HOME': '/root', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64', 'LANG': 'en_US.UTF-8', 'SHELL': '/bin/bash', 'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs', 'CUDA_PKG_VERSION': '10-1=10.1.243-1', 'SHLVL': '1', 'NCCL_VERSION': '2.4.8', 'NVIDIA_VISIBLE_DEVICES': 'all', 'TF_FORCE_GPU_ALLOW_GROWTH': 'true', 'DEBIAN_FRONTEND': 'noninteractive', 'CUDNN_VERSION': '7.6.5.32', 'LAST_FORCED_REBUILD': '20191217', 'JPY_PARENT_PID': '18', 'PYTHONPATH': '/env/python', 'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=\\"172.28.0.2\\""]}', 'NO_GCE_CHECK': 'True', 'GLIBCXX_FORCE_NEW': '1', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', '_': '/tools/node/bin/node', 'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4', 'NVIDIA_REQUIRE_CUDA': 'cuda>=10.1 brand=tesla,driver>=384,driver<385 brand=tesla,driver>=396,driver<397 brand=tesla,driver>=410,driver<411', 'OLDPWD': '/', 'HOSTNAME': '050bd99ce3d7', 'COLAB_GPU': '0', 'PWD': '/', 'GLIBCPP_FORCE_NEW': '1', 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command', 'TBE_CREDS_ADDR': '172.28.0.1:8008', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'})
*----------------------------------*
/root
*----------------------------------*
/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin
*----------------------------------*

**54. Write a Python program to get the current username**

In [27]:
import getpass
print(getpass.getuser())

root

**55. Write a Python to find local IP addresses using Python's stdlib**

In [28]:
import socket
print([l for l in ([ip for ip in socket.gethostbyname_ex(socket.gethostname())[2] 
if not ip.startswith("127.")][:1], [[(s.connect(('8.8.8.8', 53)), 
s.getsockname()[0], s.close()) for s in [socket.socket(socket.AF_INET, 
socket.SOCK_DGRAM)]][0][1]]) if l][0][0])

172.28.0.2

**56. Write a Python program to get height and width of the console window.**

In [29]:
def terminal_size():
    import fcntl, termios, struct
    th, tw, hp, wp = struct.unpack('HHHH',
        fcntl.ioctl(0, termios.TIOCGWINSZ,
        struct.pack('HHHH', 0, 0, 0, 0)))
    return tw, th

print('Number of columns and Rows: ',terminal_size())

OSError: ignored

**57. Write a program to get execution time for a Python method.**

In [33]:
import time
def sum_of_n_numbers(n):
    start_time = time.time()
    s = 0
    for i in range(1,n+1):
        s = s + i
    end_time = time.time()
    return s,end_time-start_time

n = 50000000
print("\nTime to sum of 1 to ",n," and required time to calculate is :",sum_of_n_numbers(n))

Time to sum of 1 to  50000000  and required time to calculate is : (1250000025000000, 3.0132944583892822)

**58. Write a python program to sum of the first n positive integers.**

In [34]:
n = 100
sum = 0
for x in range(0,n):
  sum = sum + x

print("The sum of first {} natural numbers = {}".format(n,sum))

The sum of first 100 natural numbers = 4950